<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to my first flask site!</h1>
    <form method="POST">
        <label for ="name">What is your name?</label>
        <input type="text" id="name" name="name" 
        placeholder="enter your name here">
        <input type="submit" value="Submit">
    </form>
    <img src ="https://www.kingofchristmas.com/cdn/shop/files/TribecaSpruce_9435ba0f-6c63-4ca1-97ab-5e2cdca47270.jpg?v=1722014341" alt="Christmas Tree">
</body>
</html>